<!DOCTYPE html>
	<html>
		<head>
			<meta name="robots" content="noindex, nofollow" />
			<meta name="viewport" content="width=device-width, initial-scale=1">
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li>Copyright © 2020 Access Softek</li>
	        		<li><a href="mailto:clients@accesssoftek.com">Email</a></li>
	        		<li><a href="https://www.accesssoftek.com/llvm">www.accesssoftek.com/llvm</a></li>
				</ul>
			</footer>
		</body>
	</html>
